.block-uc-pic-cart-block .horizontal .item {
    border: 1px solid #ddd;
    padding: 10px;
}
.uc_pic_cart_block_item_hor {
    padding: 5px;
    margin: 0;
}
.uc_pic_cart_block_item_hor .qty {
    margin: 5px 0;
}